---
import UserList from "../components/Users";
import Layout from "../layouts/Layout.astro";
import { createTrpcClient } from "../ts/trpcClient";

// Call tRPC from server side
console.log({origin: Astro.url.origin})
const client = createTrpcClient(Astro.url.origin);
const users = await client.getUsers.query();

// Logged server-side (in cloudflare)
console.log({ users });
---

<Layout title="Welcome to Astro.">
	<main>
		<UserList users={users}/>
		<button id="createUser">Create random user!</button>
		<button id="deleteUsers">Delete all users</button>
	</main>
	<script>
		// Call tRPC from client side
		import { createTrpcClient } from "../ts/trpcClient";
		console.log(`TRPC to origin: ${window.location.origin}`)
		const client = createTrpcClient(window.location.origin)

		const createUserOnClient = async () => {
			const userId = await client.createUser.mutate({
				name: "Anonymous",
				bio: "Interwebs",
			});
			const user = await client.getUserById.query(userId)
			// Logged client-side (browser console).
			console.log(`Created user: ${JSON.stringify(user)}`)
		}

		  // Find all buttons with the `alert` class on the page.
		  const button = document.getElementById('createUser');
		  button?.addEventListener('click', () => {
			// TODO update the SSr'd page client side. (users prop?)
			createUserOnClient();
		});

		const deleteButton = document.getElementById('deleteUsers');
		deleteButton?.addEventListener('click', async () => {
			await client.deleteUsers.mutate();
		})
	</script>
</Layout>